<div class="container-fluid">
  <div class="w3-row-padding">

<div class="container">
  <form action="/" method="Post">
<input type="text" name="name" class="textbox" value="" placeholder="Please Enter Number Plate"><br><br>
<label class="radioButton">
    <input type="radio" class="RegNumbers" name="RegNumbers" value="Paarl"><b>Cape Town</b>
</label>
    <label class="radioButton">
        <input type="radio" class="RegNumbers"name="RegNumbers" value="Bellville"><b>Bellville</b>
    </label>
    <label class="radioButton">
        <input type="radio" class="RegNumbers" name="RegNumbers" value="Paarl"><b>Paarl</b>
    </label><br><br>
    <label class="radioButton">
        <input type="radio" class="RegNumbers" name="RegNumbers" value="Show All"><b>Show All</b>
    </label><br><br>
    <button type="submit" class="btn btn-primary" name="button">Add</button><br><br>

    {{#each regNumber}}
    <ul>
      <ul class="regPlates">{{name}}</ul>
    </ul>
  {{/each}}
</form>
</div>


</div>


</div>
