<h1>Registratin_Numbers</h1>
<div class="container-fluid">
    <form action="/" method="Post">
  <input type="text" name="name" value="" placeholder="Please Enter Number Plate" required="">
  <label class="radioButton">
          <input type="radio" class="RegNumbers" name="RegNumbers" value="Cape Town" required="">Cape Town<b>
      </label>
      <label class="radioButton">
          <input type="radio" class="RegNumbers"name="RegNumbers" value="Bellville" required=""><b>Bellville</b>
      </label>
      <label class="radioButton">
          <input type="radio" class="RegNumbers" name="RegNumbers" value="Paarl" required=""><b>Paarl</b>
      </label><br><br>
      <button type="submit" class="RegButton" name="button" require="">Add</button><br><br>
</form>
</div>

<!-- <p class="display">{{display}}</p> -->
